<%include partials/header%>
<center>
<h1>Welcome To Shop-Street</h1>
<p><h3><i>The best app for local vendors</i></h3></p>
<h6>click on the link below to view all products</h6>
<a href="/products">View all campgrounds</a>
</center>
<%include partials/footer%>
